<header>


    <div id="containerHeader" class="d-flex justify-content-around">
      <img src="/images/Logo.jpg" style="width: 100px; height: 100px;" alt="">
      <div>

        <div class="pesquisa">  <input  alt=""  class="barraDePesquisa" placeholder="Pesquise o seu produto... " type="text">
        </div>
        <hr class="linhaCatergoria">
        <div class="opcoes">

          <table>
            <li>Categorias</li>
            <li>Ofertas do dia</li>
            <li>Vender</li>
            <li>Contato</li>
            <li>Carrinho</li>

          </table>

        </div>

      </div>

      <div class="InformeCep">
        <div class="new">
          <p> <span class="new">NEW</span></p>
        </div>

        <p>informa seu </p>

        <div class="d-flex justify-content-center">
          <p>CEP</p>
        </div>
      </div>

      <div class="perfil">

        <div>
          <input type="text" class="barraCadastro">
        </div>

        <div id="cadastroEperfil">

          <div>
            <p>Cadastro</p>
          </div>
          <div>
            <p>Perfil </p>
          </div>

        </div>

      </div>
    </div>

  </header>