@import url('https://fonts.googleapis.com/css2?family=Monda&display=swap');

* {
  font-family: 'Monda', sans-serif;
  color: white;
}


body {
  margin: 0px;
}

.barraDePesquisa{
  background-color: #C4C4C4;
  width: 638px;
  height: 40px;
  border: none;
  border-radius: 15px;
  outline: none;
}

header {
  padding-top: 10px;
  background-color: #696A77;
}

.carroselSuperior {
  width: 100%;
}

#containerHeader {
  padding-top: 10px;
  display: flex;
  justify-content: space-around;
}

li {
  list-style: none;
  margin-right: 50px;
}

footer {
  background-color: #393939;
}

.new {
  display: flex;
    justify-content: center;
}

.opcoes {
  display: flex;
  justify-content: center;

}

#cadastroEperfil {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
}

.barraCadastro{
  background-color: #464646;
  width: 321px;
  height: 39px;
  border: none;
  outline: none;

}

main {
  background-color: #6C6C6C;
}

#endereco {
  margin-top: 20px;
}

.perfil{
  margin-top: 3px;
}

#opcoesDeContato {
  display: flex;
  margin-bottom: 10px;
}

#logoFooter {
  margin: 15px;
}


.formasDePagamento{
    display: flex;
   justify-content: center;
  
  
 }
 .caixaDePagamento{
   background-color: #B3B9C0;
   margin: 5px;
   border: none;
   outline: none;
   width: 407.44px;
   height: 53.41px;
 
 }
 
 #mainPagamento{
   background-color: #1F2937;
 }
 
 .separamentoDoInputNumeroDeCartao{
   margin: 8px;
   display: flex;
 }
 
 .inputNumeroDoCartao {
   width: 170px;
   height: 32px;
   outline: none;
   border: none;
 }
 
 #realizarCompra{
   width: 377px;
   height: 75px;
   border: none;
   outline: none;
   border-radius: 20px;
   background-color: #636568;
   
 
 }
 
 .alinhar {
   display: flex;
   justify-content: center;
   align-items: center ;
 }
 
 h4 {
   margin-right: 10px;
 }